#navlist {
    display: flex;
    list-style-type: none;
    border: 2px solid black;
    padding-block: 5px;
    justify-content: space-between;
}
#leftnav {
    display: flex;
}
#rightnav {
    display: flex;
}

.navitem{
    padding-inline: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

