<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="../style/Homepage.css">
        <title>Homepage</title>
    </head>
    <body>
        <script>
            function dropdownFunction(){
                document.getElementById("navDropdown").classList.toggle("show");
            }

            window.onclick = function(event){
                if(!event.target.matches('.dropBTN')) {
                    var dropdown = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdown.length; i++){
                        var openDropdown = dropdown[i];
                        if (openDropdown.classList.contains('show')){
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }

            function changeForm(option) {
        // Hide all form sections
        var formSections = document.getElementsByClassName("form-section");
        for (var i = 0; i < formSections.length; i++) {
            formSections[i].style.display = "none";
        }

        // Show the selected form section
        document.getElementById(option + "-section").style.display = "block";
    }
        </script>
        <nav id="nav">
            <ul id="navlist">
                <div id="leftnav">
                    <a href="Homepage.html"><li class="navitem">OkaTravel.ca</li></a>
                    <div class="dropdown">
                        <button onclick="dropdownFunction()" class="dropBTN">More Travel
                            <i class="fa fa-caret-down"></i></button>
                        <div id="navDropdown" class="dropdown-content">
                            <a href="stays.html">Stays</a>
                            <a href="">Flights</a>
                            <a href="">Cars</a>
                            <a href="">Packages</a>
                            <a href="">Things to do</a>
                            <a href="">Cruises</a>
                            <a href="">Deals</a>
                            <a href="">Groups & meetings</a>
                        </div>
                    </div>
                </div>
                <div id="rightnav">
                    <li class="navitem"><a href=""><button id="App">Get The App</button></a></li>
                    <li class="navitem"><a href="">English</a></li>
                    <li class="navitem"><a href="">List your property</a></li>
                    <li class="navitem"><a href="">Support</a></li>
                    <li class="navitem"><a href="">Trips</a></li>
                    <li class="navitem"><a href="signIn.html">Sign In</a></li>
                    <li class="navitem"><a href="createAccount.html"><button id="create">Create Account</button></a></li>
                </div>
            </ul>
        </nav>
        
        <form>
            <fieldset>
                <legend>Select an option:</legend>
                <label for="stays" onclick="changeForm('stays')">Stays</label>
        
                <label for="flights" onclick="changeForm('flights')">Flights</label>
        
                <label for="cars" onclick="changeForm('cars')">Cars</label>
            </fieldset>
        
            <div id="stays-section" class="form-section">
                <label for="stay-type">Add a flight:</label>
                <input type="checkbox" id="stay-type" name="stay-type">
                <label for="stay-type">Add a car:</label>
                <input type="checkbox" id="stay-type" name="stay-type">
                <br>
                <label for="stay-type">Coming from:</label>
                <input type="text" id="stay-type" name="stay-type">
                <label for="stay-type">Going to:</label>
                <input type="text" id="stay-type" name="stay-type">
                <label for="stay-type">Date:</label>
                <input type="date" id="stay-type" name="stay-type">
            </div>
        
            <div id="flights-section" class="form-section">
                <label for="stay-type">Add a place to stay:</label>
                <input type="checkbox" id="stay-type" name="stay-type">
                <label for="stay-type">Add a car:</label>
                <input type="checkbox" id="stay-type" name="stay-type">
                <br>
                <label for="stay-type">Coming from:</label>
                <input type="text" id="stay-type" name="stay-type">
                <label for="stay-type">Going to:</label>
                <input type="text" id="stay-type" name="stay-type">
                <label for="stay-type">Date:</label>
                <input type="date" id="stay-type" name="stay-type">
            </div>
        
            <div id="cars-section" class="form-section">
                <label for="stay-type">Pick-up:</label>
                <input type="text" id="stay-type" name="stay-type">
                <label for="stay-type">Going to:</label>
                <input type="text" id="stay-type" name="stay-type">
                <label for="stay-type">Pick-up time:</label>
                <input type="time" id="stay-type" name="stay-type">
            </div>
        
            <input type="submit" value="Submit">
        </form>  

        <div id="leftBody">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d5120.115177724173!2d-119.48030789990779!3d49.86285259232738!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sca!4v1706888240720!5m2!1sen!2sca" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
    </body>    
</html>